# Source Files
* @XynoxTheDev @anurag3301

# Github Files
/.github/ @XynoxTheDev
/README.md @XynoxTheDev

# Dependency Files
/.gitattributes @XynoxTheDev @anurag3301 
/.gitignore @XynoxTheDev @anurag3301
