body {
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 50px;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    border: none;
}
.button:hover {
    background-color: #45a049;
}