<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>A468 - Dashboard</title>
</head>
<body>
    <a href="/">
        <h1>A468 - Object Recognition & Manipulation Program</h1>
    </a>
    <h1>Welcome to the A468</h1>
    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Register</a>
</body>
</html>
