<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link class="fav-icon" rel="shortcut icon" type="image/x-icon"
            href="{{ url_for('static', filename='A468.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>A468 - Dashboard</title>
    </head>

    <body>

        <div class="nav-header">
            <img id="logo" src="/static/A468.png" alt="a468">
            <h1>
                An Object Recognition & Manipulation Program
            </h1>
        </div>
        <div class="daddy-cont">
            <div class="cont">
                <h2>Welcome to the A468</h2>
                <h3 id="main">
                    A468 is an innovative object recognition and manipulation program. Utilizing advanced algorithms, it
                    swiftly identifies
                    various objects and seamlessly integrates manipulation commands. This intuitive system streamlines
                    tasks, enhancing
                    efficiency in diverse fields such as manufacturing, logistics, and robotics.
                </h3>

                <div id="main-btn">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
            </div>
        </div>

        <h5 id="footer">An initiative by <a href="https://github.com/XynoxTheDev/A468/">/github:A468</a></h5>

    </body>

</html>