
<!DOCTYPE html>
<html>

<head>
    <title>View Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .image-card {
            margin-bottom: 20px;
            font-family: Arial, sans-serif;
        }
        .info-section {
            font-size: 14px;
        }
        .label {
            font-weight: bold;
            color: black;
        }
        .data {
            font-weight: normal;
            color: #666;
        }
    </style>
</head>

<body>
    <div class="container">
        {% if images %}
        <h1 class="mt-4 mb-3">History</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-md-4">
                <div class="card image-card">
                    <img src="data:image/jpeg;base64,{{ image[3] }}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <div class="info-section">
                            <span class="label">Timestamp:</span>
                            <span class="data">{{ image[0] }}</span><br>
                            <span class="label">Filename:</span>
                            <span class="data">{{ image[1] }}</span><br>
                            <span class="label">Filters:</span>
                            <span class="data">{{ image[2] }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No images found.</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
