<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>Upload a File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="checkbox" name="face"> Face<br>
        <input type="checkbox" name="numplate"> Number Plate<br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
